<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.men1n2.couca" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                // Make the default activity a launcher, to prevent Home button from exiting the application
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".showPersonName"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_show_person_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".enterText"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_enter_text"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
